# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
*.swp

# XCode stuff
UserInterfaceState.xcuserstate
dgph
.DS_Store
*.xcodeproj

# CMake built stuff
build/
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake
Makefile
slumber
CMakeScripts/
slumber.*/

# Eclipse stuff
.cproject
.project
.metadata/
